body {
  font-family: 'Segoe UI';
  background: #f5f5f5;
  text-align: center;
}

h1 {
  margin-top: 60px;
  color: #8b4f8f;
}

.summary {
  background: white;
  padding: 30px;
  width: 300px;
  margin: auto;
  border-radius: 15px;
}

button {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

.confirm {
  background: #8b4f8f;
  color: white;
}

.cancel {
  background: #ddd;
}