body{
margin:0;
font-family:Segoe UI;
background:#f5f7fb;
color:#333;
}

.sidebar{
width:220px;
height:100vh;
background:#ffffff;
border-right:1px solid #e3e3e3;
position:fixed;
padding-top:25px;
}

.logo{
text-align:center;
margin-bottom:30px;
}

.logo img{
width:150px;
}


.sidebar a{
display:block;
padding:14px;
text-decoration:none;
color:#555;
font-weight:500;
}

.sidebar a:hover{
background:#f0f3ff;
color:#6a6af4;
}

.main{
margin-left:240px;
padding:40px;
}

.subtitle{
color:#888;
margin-bottom:30px;
}

.cards{
display:flex;
gap:25px;
}

.card{
background:white;
padding:25px;
border-radius:12px;
width:220px;
box-shadow:0 6px 15px rgba(0,0,0,0.05);
}

.card h3{
margin-top:0;
}

button{
margin-top:10px;
padding:10px 16px;
border:none;
border-radius:8px;
background:#4aa3ff;
color:white;
cursor:pointer;
}

button:hover{
background:#5858d6;
}