body{
margin:0;
font-family:Segoe UI;
background:#f7fdf8;
}

.sidebar{
width:220px;
height:100vh;
background:white;
border-right:1px solid #ddd;
position:fixed;
padding-top:25px;
}

.logo{
text-align:center;
margin-bottom:30px;
}

.logo img{
width:150px;
}

.sidebar a{
display:block;
padding:14px;
text-decoration:none;
color:#555;
}

.sidebar a:hover{
background:#eafaf1;
}

.main{
margin-left:240px;
padding:40px;
}

table{
width:500px;
border-collapse:collapse;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 6px 15px rgba(0,0,0,0.05);
}

th,td{
padding:12px;
border-bottom:1px solid #eee;
text-align:left;
}

th{
background:#4aa3ff;
color:white;
}

.ok{
color:green;
font-weight:bold;
}

.low{
color:red;
font-weight:bold;
}