body{
margin:0;
font-family:Segoe UI;
background:#white;
}

.sidebar{
width:220px;
height:100vh;
background:white;
border-right:1px solid #ddd;
position:fixed;
padding-top:25px;
}

.logo{
text-align:center;
margin-bottom:30px;
}

.logo img{
width:150px;
}

.sidebar a{
display:block;
padding:14px;
text-decoration:none;
color:#555;
}

.sidebar a:hover{
background:#e8f3ff;
}

.main{
margin-left:240px;
padding:40px;
}

.formbox{
background:white;
padding:30px;
border-radius:12px;
width:300px;
box-shadow:0 6px 15px rgba(0,0,0,0.05);
}

input{
display:block;
width:100%;
margin-bottom:15px;
padding:10px;
border-radius:8px;
border:1px solid #ddd;
}

button{
padding:10px;
width:100%;
border:none;
border-radius:8px;
background:#4aa3ff;
color:white;
cursor:pointer;
}

button:hover{
background:#2f8eea;
}