body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f5f7fb;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2563eb;
    color: white;
    padding: 15px 30px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* LAYOUT */
.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

/* SIDEBAR */
.menu {
    padding: 20px;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

/* CARD */
.product {
    background: white;
    border-radius: 12px;
    padding: 15px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.product:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

/* CART SIDE */
.cart-preview {
    padding: 20px;
    background: white;
}