body {
    margin: 0;
    font-family: monospace;
    background: #0a0a0a;
    color: #00ff88;
}

.terminal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal-box {
    border: 1px solid #00ff88;
    padding: 20px;
    width: 300px;
}

input, button, select {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background: black;
    color: #00ff88;
    border: 1px solid #00ff88;
}

button {
    cursor: pointer;
}

.warning {
    font-size: 12px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: black;
    border-bottom: 1px solid #00ff88;
}

.container {
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 25%;
    border-right: 1px solid #00ff88;
    padding: 10px;
}

.sidebar button {
    margin-bottom: 10px;
}

#ticketList div {
    padding: 5px;
    border-bottom: 1px solid #00ff88;
    cursor: pointer;
}

.main {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.input-area {
    display: flex;
    gap: 5px;
    padding: 10px;
    border-top: 1px solid #00ff88;
}

.input-area input[type="text"] {
    flex: 1;
}