body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

.rooms-list{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.room-card{
background:white;
width:250px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.room-card img{
width:100%;
height:180px;
object-fit:cover;
}

.room-card a{
display:block;
padding:10px;
background:#333;
color:white;
text-decoration:none;
}