body{
font-family:Arial;
background:#f4f4f4;
}

.room-details{
display:flex;
gap:40px;
padding:50px;
}

.room-details img{
width:400px;
border-radius:10px;
}

.info ul{
padding-left:20px;
}

a{
display:inline-block;
margin-top:20px;
background:#333;
color:white;
padding:10px 20px;
text-decoration:none;
}