body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #814141;
  color: white;
}

.container{
  display: flex;
}

.sidebar{
  width: 220px;
  height: 100vh;
  background-color: #722F37;
  padding: 20px;

}

.sidebar h2{
  margin-bottom: 30px;
  color: white;

}

.sidebar ul{
  list-style: none;
  padding: 0;
}

.sidebar li{
  margin: 15px 0;
}

.sidebar a{
  text-decoration: none;
  color: #967969;
  display: block;

}

.sidebar a:hover{
  color: white;
}

.main{
  flex: 1;
  padding: 40px;
}

h1{
  font-size: 40px;
  margin-bottom: 25px;
}

h2{
  color: #967969;
  margin-bottom: 10px;
}

.about-box{
  background-color: #722F37;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.about-box:hover{
  background-color: #967969;
  color: #722F37;
}

p{
  line-height: 1.6;
}